<h1 class="text-center">Listando Lançamentos</h1>


<%= link_to new_entry_path, class: "btn btn-primary" do %>

  <span class="glyphicon glyphicon-plus"></span>
  Novo

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Conta</th>
      <th>Categoria</th>
      <th>Status</th>
      <th>Observações</th>
    </tr>
  </thead>
  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.id %></td>
      <td><%= entry.description %></td>
      <td><span class="label label-<%= entry.entry_type == "Despesa" ? "danger" : "success" %>"><%= entry.entry_type %></span></td>
      <td><%= entry.value %></td>
      <td><%= (l(entry.date) unless entry.date.blank?) %></td>
      <td><%= entry.account.description %></td>
      <td><%= entry.category.description %></td>
      <td><span class="label label-<%= entry.status == "Pendente" ? "warning" : "primary" %>"><%= entry.status %></span></td>
      <td><%= entry.obs %></td>
      <td>
        <%= link_to edit_entry_path(entry), class: "btn btn-xs btn-warning" do %>

          <span class="glyphicon glyphicon-pencil"></span>

        <% end %>

        <%= link_to entry_path(entry), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Excluir #{entry.description}?" } do %>

          <span class="glyphicon glyphicon-remove"></span>

        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Voltar", root_path, class: "btn btn-danger" %>
<div class="container footer text-center">
  <span class="text-danger"><b>Total a Pagar:</b> R$ -<%= @entries_value_to_pay %></span>
  <span class="text-danger"><b>Total Pago:</b> R$ -<%= @entries_value_paid %></span>
  <span class="text-success"><b>Total a Receber:</b> R$ <%= @entries_value_to_receive %></span>
  <span class="text-success"><b>Total Recebido:</b> R$ <%= @entries_value_received %></span>
  <span class="text-primary"><b>Saldo:</b> R$ <%= @entries_balance %></span>
</div>
