<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :nome_razao_social %><br>
        <%= f.text_field :nome_razao_social, class: "form-control", placeholder: "Nome ou Razão Social" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :apelido_fantasia %><br>
        <%= f.text_field :apelido_fantasia, class: "form-control", placeholder: "Apelido ou Fantasia" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :cpf_cnpj %><br>
        <%= f.text_field :cpf_cnpj, class: "form-control", placeholder: "CPF ou CNPJ" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :customer_type %>
        <%= f.select :customer_type, options_for_customer_types(@customer.customer_type), {}, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="text-center">
    <%= link_to "Voltar", customers_path, class: "btn btn-danger" %>
    <%= f.submit "Confirmar", class: "btn btn-success" %>
  </div>
<% end %>
