<!DOCTYPE html>
<html>
<head>
  <title>ControleFinanceiro</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/shared/navigation" %>


<div class="container">
  <div class="col-lg-12">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'entries' %>

<%= yield :javascripts %>
</body>
</html>
